# Exercise notebook 2: Cleaning up our act
This Jupyter notebook, for Week 2 of The Open University's [Learn to code for Data Analysis](https://www.futurelearn.com/courses/learn-to-code/) course, has code examples and coding activities for you. Remember to run the code in this notebook before you start.

You'll come across steps in the FutureLearn course directing you to this notebook. Once you've done the exercise, go back to FutureLearn to discuss it with your fellow learners and course facilitators and mark it as complete.

In [81]:
from pandas import *

##Exercise 1: Dataframes and CSV files

To read a CSV file into a dataframe you need to call the pandas function called <code>read_csv()</code>. The simplest usage of this function is with a single argument, a string that holds the name of the CSV file, for example.

In [82]:
df = read_csv('WHO POP TB all.csv')

### Dataframe attributes

An dataframe attribute is like a variable that can only be accessed in the context of a dataframe. Once such attribute is <code>columns</code> which holds a dataframe's column names.

In [83]:
df.columns

Index([u'Country', u'Population (1000s)', u'TB deaths'], dtype='object')

### Dataframe rows
A dataframe has a default integer index for its rows, which starts at zero <code>0</code>. The `irow()` method returns the row at the given index.

In [84]:
df.irow(0) # first row, index 0

/Users/chrisadams/.virtualenvs/witan-notebooks/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: irow(i) is deprecated. Please use .iloc[i]
  if __name__ == '__main__':

Country               Afghanistan
Population (1000s)          30552
TB deaths                   13000
Name: 0, dtype: object

In [85]:
df.irow(2) # third row, index 2

/Users/chrisadams/.virtualenvs/witan-notebooks/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: irow(i) is deprecated. Please use .iloc[i]
  if __name__ == '__main__':

Country               Algeria
Population (1000s)      39208
TB deaths                5100
Name: 2, dtype: object

### The <code>head()</code> method

The `head()` method returns a dataframe with the first rows, as many as given in the argument. By default, if the argument is missing, it returns the first five rows.

In [86]:
df.head() # first five rows

       Country  Population (1000s)  TB deaths
0  Afghanistan               30552   13000.00
1      Albania                3173      20.00
2      Algeria               39208    5100.00
3      Andorra                  79       0.26
4       Angola               21472    6900.00

In [87]:
df.head(7) # first seven rows

               Country  Population (1000s)  TB deaths
0          Afghanistan               30552   13000.00
1              Albania                3173      20.00
2              Algeria               39208    5100.00
3              Andorra                  79       0.26
4               Angola               21472    6900.00
5  Antigua and Barbuda                  90       1.20
6            Argentina               41446     570.00

### The <code>tail()</code> method
The <code>tail()</code> method is similar to the <code>head()</code> method. If no argument is used, the last five rows of the dataframe are returned, otherwise the number of rows returned is dependent on the argument.

In [88]:
df.tail() # last five rows

                                Country  Population (1000s)  TB deaths
189  Venezuela (Bolivarian Republic of)               30405        480
190                            Viet Nam               91680      17000
191                               Yemen               24407        990
192                              Zambia               14539       3600
193                            Zimbabwe               14150       5700

### Selecting and displaying columns in a dataframe
You found in Week 1 that you can select and display the values for a single dataframe column by puting the name of the column (in quotes) within square brackets immediately after the dataframe's name. However you can also select and display the values for multiple columns too.

To get multiple columns you need to use a list. A list in Python is a number of items separated by commas within square brackets, for example `['Country', 'Population (1000s)']`. This list is then put within square brackets immediately after the dataframe's name. The resulting expression represents a new dataframe, just with those columns, and therefore any dataframe method can be applied to it, like for example `head()`:

In [89]:
df[['Country', 'Population (1000s)']].head()

       Country  Population (1000s)
0  Afghanistan               30552
1      Albania                3173
2      Algeria               39208
3      Andorra                  79
4       Angola               21472

### Applying methods to a dataframe column
The `irow()`, <code>head()</code> and <code>tail()</code> methods discussed above can be used with single columns.

In [90]:
df['TB deaths'].irow(2) # third value of deaths column

/Users/chrisadams/.virtualenvs/witan-notebooks/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: irow(i) is deprecated. Please use .iloc[i] or .iat[i]
  if __name__ == '__main__':

5100.0

In [91]:
df['Population (1000s)'].tail() # last five values of population column

189    30405
190    91680
191    24407
192    14539
193    14150
Name: Population (1000s), dtype: int64


### Tasks

In the code cell below, write the code to get and display the 55th row in the dataframe <code>df</code>.

In [92]:
df.irow(55)

/Users/chrisadams/.virtualenvs/witan-notebooks/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: irow(i) is deprecated. Please use .iloc[i]
  if __name__ == '__main__':

Country               Equatorial Guinea
Population (1000s)                  757
TB deaths                            67
Name: 55, dtype: object

In the code cell below write the code to display the first 10 rows of the dataframe <code>df</code>.

In [93]:
df.head(10)

               Country  Population (1000s)  TB deaths
0          Afghanistan               30552   13000.00
1              Albania                3173      20.00
2              Algeria               39208    5100.00
3              Andorra                  79       0.26
4               Angola               21472    6900.00
5  Antigua and Barbuda                  90       1.20
6            Argentina               41446     570.00
7              Armenia                2977     170.00
8            Australia               23343      45.00
9              Austria                8495      29.00

In the code cell below, select and display the first eight rows from the <code>'Country'</code> and <code>'TB deaths'</code> columns.

In [94]:
df[['Country', 'TB deaths']].head(8)

               Country  TB deaths
0          Afghanistan   13000.00
1              Albania      20.00
2              Algeria    5100.00
3              Andorra       0.26
4               Angola    6900.00
5  Antigua and Barbuda       1.20
6            Argentina     570.00
7              Armenia     170.00

**Now go back to the Exercise 1 step in FutureLearn to discuss and mark it complete.**

## Exercise 2: Comparison operators
Python has the following comparison operators:

    == (equals)
    != (not equal)
    < (less than)
    > (greater than)
    <= (less than or equal to)
    >= (greater than or equal to)

The following code will get and display all the rows in `df` where it is `True` that the value in the `'Population (1000s)'` column is greater than `80000`.

In [95]:
df[df['Population (1000s)'] > 800000]

   Country  Population (1000s)  TB deaths
36   China             1393337      41000
77   India             1252140     240000

### Task
In the code cell below write code to find all the rows in <code>df</code> where TB deaths exceed 10000.

In [96]:
df[df['TB deaths'] > 10000]

                              Country  Population (1000s)  TB deaths
0                         Afghanistan               30552      13000
13                         Bangladesh              156595      80000
36                              China             1393337      41000
47   Democratic Republic of the Congo               67514      46000
58                           Ethiopia               94101      30000
77                              India             1252140     240000
78                          Indonesia              249866      64000
100                        Madagascar               22925      12000
115                        Mozambique               25834      18000
116                           Myanmar               53259      26000
124                           Nigeria              173615     160000
128                          Pakistan              182143      49000
134                       Philippines               98394      27000
141                Russian Federation              142834      17000
159                      South Africa               52776      25000
190                          Viet Nam               91680      17000

**Now go back to the Exercise 2 step in FutureLearn to discuss and mark it complete.**

## Exercise 3: Bitwise operators

Pandas has two operators to make more complicated queries. Use the operator `&` (means 'and') to select rows where two conditions are both true. Use the operator `|` (means 'or') to select rows where at least one condition is true. Don't forget to put parentheses around _each_ comparison. For example, the following expression selects only countries with a population over 80 million inhabitants **and** with more that 10 thousand deaths.

In [97]:
df[(df['Population (1000s)'] > 80000) & (df['TB deaths'] > 10000)]

                Country  Population (1000s)  TB deaths
13           Bangladesh              156595      80000
36                China             1393337      41000
58             Ethiopia               94101      30000
77                India             1252140     240000
78            Indonesia              249866      64000
124             Nigeria              173615     160000
128            Pakistan              182143      49000
134         Philippines               98394      27000
141  Russian Federation              142834      17000
190            Viet Nam               91680      17000

If the same columns will be used repeatedly in the program, the code becomes more readable if written as follows:

In [98]:
population = df['Population (1000s)']
deaths = df['TB deaths']
df[(population > 80000) & (deaths > 10000)]

                Country  Population (1000s)  TB deaths
13           Bangladesh              156595      80000
36                China             1393337      41000
58             Ethiopia               94101      30000
77                India             1252140     240000
78            Indonesia              249866      64000
124             Nigeria              173615     160000
128            Pakistan              182143      49000
134         Philippines               98394      27000
141  Russian Federation              142834      17000
190            Viet Nam               91680      17000

### Task
In the code cell below find  all the countries where the Population (1000s) is **less than or equal to** 50000 **or** TB deaths are **greater than or equal to** 20000.

In [99]:
population = df['Population (1000s)']
tbdeaths = df['TB deaths']

df[(tbdeaths >= 20000) | (population <= 50000)]

                                       Country  Population (1000s)  TB deaths
0                                  Afghanistan               30552   13000.00
1                                      Albania                3173      20.00
2                                      Algeria               39208    5100.00
3                                      Andorra                  79       0.26
4                                       Angola               21472    6900.00
5                          Antigua and Barbuda                  90       1.20
6                                    Argentina               41446     570.00
7                                      Armenia                2977     170.00
8                                    Australia               23343      45.00
9                                      Austria                8495      29.00
10                                  Azerbaijan                9413     360.00
11                                     Bahamas                 377       1.80
12                                     Bahrain                1332       9.60
13                                  Bangladesh              156595   80000.00
14                                    Barbados                 285       2.00
15                                     Belarus                9357     850.00
16                                     Belgium               11104      18.00
17                                      Belize                 332      20.00
18                                       Benin               10323    1300.00
19                                      Bhutan                 754      88.00
20            Bolivia (Plurinational State of)               10671     430.00
21                      Bosnia and Herzegovina                3829     190.00
22                                    Botswana                2021     440.00
24                           Brunei Darussalam                 418      13.00
25                                    Bulgaria                7223     150.00
26                                Burkina Faso               16935    1500.00
27                                     Burundi               10163    2300.00
28                               Côte d'Ivoire               20316    4000.00
29                                  Cabo Verde                 499     150.00
30                                    Cambodia               15135   10000.00
..                                         ...                 ...        ...
159                               South Africa               52776   25000.00
160                                South Sudan               11296    4500.00
161                                      Spain               46927     240.00
162                                  Sri Lanka               21273    1300.00
163                                      Sudan               37964    9700.00
164                                   Suriname                 539      12.00
165                                  Swaziland                1250    1100.00
166                                     Sweden                9571      13.00
167                                Switzerland                8078      17.00
168                       Syrian Arab Republic               21898     450.00
169                                 Tajikistan                8208     570.00
171  The former Yugoslav republic of Macedonia                2107      33.00
172                                Timor-Leste                1133     990.00
173                                       Togo                6817     810.00
174                                      Tonga                 105       2.50
175                        Trinidad and Tobago                1341      29.00
176                                    Tunisia               10997     230.00
178                               Turkmenistan                5240    1300.00
179                                     Tuvalu                  10       2.80
180                                     Uganda               37579    4100.00
181                                    Ukraine               45239    6600.00
182                       United Arab Emirates                9346      64.00
184                United Republic of Tanzania               49253    6000.00
186                                    Uruguay                3407      40.00
187                                 Uzbekistan               28934    2200.00
188                                    Vanuatu                 253      16.00
189         Venezuela (Bolivarian Republic of)               30405     480.00
191                                      Yemen               24407     990.00
192                                     Zambia               14539    3600.00
193                                   Zimbabwe               14150    5700.00

[180 rows x 3 columns]

**Now go back to the Exercise 3 step in FutureLearn to discuss and mark it complete.**

##Exercise 4: Display rows from dataframe

The 2014 Weather Underground data for London has been downloaded from the site as a CSV file and can now be read into a dataframe.

In [100]:
london = read_csv('London_2014.csv')
london.head()

,GMT,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees<br />
0,2014-1-1,11,8,6,9,7,4,94,86,73,...,31,11,2,40,26,66,9.91,4,Rain,186<br />
1,2014-1-2,11,9,6,9,6,4,94,81,60,...,31,15,5,32,21,50,1.02,2,Rain,214<br />
2,2014-1-3,11,8,6,9,5,2,94,76,54,...,31,12,0,50,29,69,7.11,2,Rain-Thunderstorm,219<br />
3,2014-1-4,9,6,3,8,6,2,93,85,65,...,31,12,5,35,21,39,9.91,4,Rain,211<br />
4,2014-1-5,12,7,1,11,4,-1,100,88,77,...,31,14,5,35,16,NaN,0.25,5,Rain,199<br />

### Removing initial spaces

There are too many columns for the dataframe to fit horizontally in this notebook, but they can be displayed separately.

In [101]:
london.columns

Index([u'GMT', u'Max TemperatureC', u'Mean TemperatureC', u'Min TemperatureC',
       u'Dew PointC', u'MeanDew PointC', u'Min DewpointC', u'Max Humidity',
       u' Mean Humidity', u' Min Humidity', u' Max Sea Level PressurehPa',
       u' Mean Sea Level PressurehPa', u' Min Sea Level PressurehPa',
       u' Max VisibilityKm', u' Mean VisibilityKm', u' Min VisibilitykM',
       u' Max Wind SpeedKm/h', u' Mean Wind SpeedKm/h', u' Max Gust SpeedKm/h',
       u'Precipitationmm', u' CloudCover', u' Events',
       u'WindDirDegrees<br />'],
      dtype='object')

This shows that <code>' Max Wind SpeedKm/h'</code> is prefixed by a space, as do other columm names such as <code>' Mean Humidity'</code> and <code>' Max Sea Level PressurehPa'</code>.

The  <code>read_csv()</code> function has interpreted spaces after commas as being part of the next value. This can be rectified  easily by adding another argument to the <code>read_csv()</code> function to skip the initial spaces after a comma.

In [102]:
london = read_csv('London_2014.csv', skipinitialspace=True)

### Removing extra characters

Another problem shown above is that the final column is called <code>'WindDirDegrees&lt; br /&gt;'</code>.

When the dataset was exported from the Weather Underground web site html line breaks were automatically added to each line in the file which <code>read_csv()</code> has interpreted as part of the column name and its values. This can be seen more clearly by looking at more values in the final column:

In [103]:
london['WindDirDegrees<br />'].head()

0    186<br />
1    214<br />
2    219<br />
3    211<br />
4    199<br />
Name: WindDirDegrees<br />, dtype: object

<code>'WindDirDegrees&lt; br /&gt;'</code> can be changed to <code>'WindDirDegrees'</code> with the <code>rename()</code> method as follows:

In [104]:
london = london.rename(columns={'WindDirDegrees<br />' : 'WindDirDegrees'})

To remove the <code>'&lt; br /&gt;'</code> html line breaks from the values in the <code>'WindDirDegrees'</code> column you need to use the string method <code>rstrip()</code> which is used to remove characters from the *end* or 'rear' of a string:

In [105]:
london['WindDirDegrees'] = london['WindDirDegrees'].str.rstrip('<br />')

Display the first few rows of the <code>'WindDirDegrees'</code> to confirm the change:

In [106]:
london['WindDirDegrees'].head()

0    186
1    214
2    219
3    211
4    199
Name: WindDirDegrees, dtype: object

### Missing values

Missing (also called null or not available) values are marked as NaN (not a number) in dataframes.

In [107]:
london['Events'].tail()

360    Rain
361     NaN
362     NaN
363     NaN
364     Fog
Name: Events, dtype: object

The `isnull()` method returns `True` for each row in a column that has a null value. The method can be used to select and display those rows. Scroll the table below to the right to check that the events column is only showing missing values.

In [108]:
london[london['Events'].isnull()]

,GMT,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
32,2014-2-2,10,8,5,4,3,1,93,71,43,...,31,16,10,37,24,47,0.00,2,NaN,216
33,2014-2-3,8,6,3,5,3,2,93,79,55,...,31,15,10,32,18,NaN,0.00,4,NaN,133
43,2014-2-13,8,6,3,2,1,-1,81,66,45,...,31,15,10,42,27,48,0.00,2,NaN,236
52,2014-2-22,12,8,4,5,3,1,87,68,38,...,31,16,10,29,21,NaN,0.00,2,NaN,228
63,2014-3-5,13,7,0,4,2,-1,100,72,40,...,31,15,8,21,6,NaN,0.25,1,NaN,248
64,2014-3-6,13,9,5,7,5,3,93,77,50,...,31,15,7,32,14,42,0.00,2,NaN,206
66,2014-3-8,16,11,7,7,4,2,93,65,29,...,31,11,6,27,18,NaN,0.00,6,NaN,156
67,2014-3-9,19,12,6,7,4,3,81,58,28,...,26,9,5,24,10,34,0.00,NaN,NaN,170
68,2014-3-10,13,8,4,8,4,2,87,73,57,...,31,12,6,23,8,NaN,0.00,6,NaN,27
70,2014-3-12,16,9,2,8,4,1,93,76,40,...,19,9,3,11,8,NaN,0.00,4,NaN,31
73,2014-3-15,18,12,7,6,5,2,87,64,24,...,31,18,5,27,16,NaN,0.00,1,NaN,277
74,2014-3-16,19,13,7,8,6,3,87,63,28,...,31,19,7,24,16,NaN,0.00,NaN,NaN,266
75,2014-3-17,14,9,5,7,6,4,93,74,47,...,31,13,5,21,14,NaN,0.00,3,NaN,263
77,2014-3-19,16,11,7,7,5,4,93,68,35,...,31,18,8,26,18,NaN,0.00,2,NaN,241
87,2014-3-29,19,13,8,7,4,-1,93,57,18,...,31,9,3,34,16,NaN,0.00,NaN,NaN,99
92,2014-4-3,18,14,11,11,9,9,88,75,52,...,21,7,3,26,11,NaN,0.00,5,NaN,96
93,2014-4-4,15,12,9,10,8,6,88,71,46,...,31,11,2,24,14,NaN,0.00,5,NaN,253
98,2014-4-9,17,10,4,7,6,3,93,68,38,...,31,14,6,23,13,NaN,0.00,2,NaN,261
99,2014-4-10,16,11,6,6,5,3,93,62,31,...,31,14,9,19,10,NaN,0.00,3,NaN,278
100,2014-4-11,16,12,9,5,4,2,71,53,28,...,31,18,10,13,8,NaN,0.00,1,NaN,351
101,2014-4-12,14,10,6,7,5,3,87,66,42,...,31,16,10,29,11,NaN,0.00,1,NaN,262
102,2014-4-13,16,12,8,8,5,2,93,63,33,...,31,14,9,26,14,NaN,0.00,2,NaN,283
103,2014-4-14,16,11,6,5,3,0,87,57,25,...,31,17,10,21,13,NaN,0.00,1,NaN,330
104,2014-4-15,14,9,3,4,2,0,81,58,26,...,31,20,10,21,10,NaN,0.00,1,NaN,64
105,2014-4-16,17,10,3,4,1,-6,87,54,15,...,31,20,10,16,11,NaN,0.00,1,NaN,139
106,2014-4-17,17,11,6,7,4,1,81,59,27,...,31,17,10,21,11,NaN,0.00,2,NaN,279
107,2014-4-18,12,9,6,5,2,-1,81,57,28,...,31,15,10,19,13,NaN,0.00,3,NaN,21
108,2014-4-19,14,9,3,4,2,0,81,59,33,...,31,14,10,23,11,NaN,0.00,4,NaN,56
122,2014-5-3,14,8,2,3,1,-1,87,56,26,...,31,16,10,14,8,NaN,0.00,1,NaN,39
123,2014-5-4,16,10,4,6,4,2,87,62,32,...,31,17,10,19,10,40,0.00,1,NaN,196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,2014-9-10,21,16,11,12,10,8,94,68,38,...,23,13,9,21,8,NaN,0.00,2,NaN,92
253,2014-9-11,18,14,10,11,10,8,94,70,45,...,13,8,5,11,6,NaN,0.00,6,NaN,42
254,2014-9-12,23,18,13,14,12,9,94,70,33,...,31,11,5,19,11,NaN,0.00,3,NaN,76
255,2014-9-13,21,17,12,14,12,11,100,75,45,...,31,12,3,19,11,NaN,0.00,4,NaN,56
257,2014-9-15,22,17,12,14,12,9,100,74,35,...,26,12,5,14,6,NaN,0.00,3,NaN,71
258,2014-9-16,23,18,13,16,14,11,100,77,39,...,19,6,2,19,8,NaN,0.00,5,NaN,70
259,2014-9-17,21,18,16,15,14,13,94,78,59,...,11,6,3,19,13,NaN,0.00,5,NaN,58
260,2014-9-18,26,20,14,16,15,13,94,74,43,...,19,6,2,19,11,35,0.00,5,NaN,71
264,2014-9-22,19,13,7,9,8,6,100,68,35,...,19,10,7,11,6,NaN,0.25,1,NaN,309
267,2014-9-25,19,13,7,12,9,5,93,71,48,...,31,17,10,26,13,NaN,0.00,5,NaN,249
269,2014-9-27,21,17,12,14,12,11,94,71,43,...,31,15,10,13,5,NaN,0.00,6,NaN,146
270,2014-9-28,24,19,14,15,14,13,94,72,41,...,27,13,6,16,6,NaN,0.00,4,NaN,116
272,2014-9-30,22,18,14,15,13,12,94,78,44,...,27,10,4,19,13,32,0.00,4,NaN,222
274,2014-10-2,22,19,14,14,13,11,94,75,46,...,31,15,6,21,8,35,0.00,3,NaN,203
292,2014-10-20,17,14,12,11,11,9,88,76,50,...,31,15,10,27,19,NaN,0.25,3,NaN,238
295,2014-10-23,16,13,11,14,10,7,94,76,58,...,31,14,9,23,16,NaN,0.00,5,NaN,214
297,2014-10-25,16,11,7,9,8,6,100,75,41,...,31,13,10,26,13,NaN,0.00,4,NaN,237
298,2014-10-26,16,13,12,9,8,7,77,67,45,...,31,12,10,27,18,40,0.00,5,NaN,217
299,2014-10-27,18,16,12,13,12,9,94,80,55,...,31,14,8,29,16,40,0.00,3,NaN,192
302,2014-10-30,18,16,13,15,14,12,100,89,72,...,13,6,1,16,10,NaN,0.00,5,NaN,170
303,2014-10-31,23,17,12,15,13,11,100,78,40,...,31,13,3,23,8,48,0.00,1,NaN,170
322,2014-11-19,11,9,7,9,7,5,100,88,70,...,10,5,3,14,10,NaN,0.00,2,NaN,93
323,2014-11-20,11,8,6,8,6,5,93,87,66,...,13,6,3,16,8,NaN,0.00,3,NaN,69
339,2014-12-6,6,2,-1,3,1,-1,100,85,60,...,31,15,10,14,8,NaN,0.25,4,NaN,265
346,2014-12-13,7,3,0,2,1,-1,100,83,53,...,31,19,9,13,8,NaN,0.00,2,NaN,278
351,2014-12-18,13,12,11,11,11,10,94,85,74,...,31,12,10,37,29,60,0.00,6,NaN,245
358,2014-12-25,8,6,2,3,2,1,93,79,51,...,31,19,10,24,16,NaN,0.00,1,NaN,275
361,2014-12-28,6,2,-2,1,-2,-3,100,76,45,...,31,17,8,16,11,NaN,0.00,1,NaN,5
362,2014-12-29,6,1,-4,2,-1,-4,100,87,62,...,24,10,5,13,8,NaN,0.25,1,NaN,289
363,2014-12-30,6,1,-4,2,-1,-4,100,90,68,...,27,9,3,14,6,NaN,0.25,3,NaN,258

One way to deal with missing values is to replace them by some value. The column method `fillna()` fills all not available value cells with the value given as argument. In the example below, each missing event is replaced by the empty string.

In [109]:
london['Events'] = london['Events'].fillna('')
london[london['Events'].isnull()]

Empty DataFrame
Columns: [GMT, Max TemperatureC, Mean TemperatureC, Min TemperatureC, Dew PointC, MeanDew PointC, Min DewpointC, Max Humidity, Mean Humidity, Min Humidity, Max Sea Level PressurehPa, Mean Sea Level PressurehPa, Min Sea Level PressurehPa, Max VisibilityKm, Mean VisibilityKm, Min VisibilitykM, Max Wind SpeedKm/h, Mean Wind SpeedKm/h, Max Gust SpeedKm/h, Precipitationmm, CloudCover, Events, WindDirDegrees]
Index: []

[0 rows x 23 columns]

The empty dataframe (no rows) confirms there are no more missing event values.

Another way to deal with missing values is to ignore rows with them. The `dropna()` dataframe method returns a new dataframe where all rows with at least one non-available value have been removed.

In [110]:
london.dropna()

,GMT,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,2014-1-1,11,8,6,9,7,4,94,86,73,...,31,11,2,40,26,66,9.91,4,Rain,186
1,2014-1-2,11,9,6,9,6,4,94,81,60,...,31,15,5,32,21,50,1.02,2,Rain,214
2,2014-1-3,11,8,6,9,5,2,94,76,54,...,31,12,0,50,29,69,7.11,2,Rain-Thunderstorm,219
3,2014-1-4,9,6,3,8,6,2,93,85,65,...,31,12,5,35,21,39,9.91,4,Rain,211
5,2014-1-6,12,10,8,11,8,6,94,78,60,...,31,12,5,50,29,61,2.03,4,Rain,219
6,2014-1-7,12,10,8,8,7,6,87,78,63,...,31,13,5,39,27,55,5.08,3,Rain,219
7,2014-1-8,12,9,7,11,7,6,94,85,69,...,27,14,6,24,18,37,1.02,3,Rain,197
8,2014-1-9,11,8,5,11,5,2,94,76,53,...,31,13,5,40,26,60,0.00,4,Rain,247
9,2014-1-10,11,7,2,7,4,2,93,85,66,...,31,17,10,24,13,32,0.25,3,Rain,216
15,2014-1-16,11,8,6,9,6,4,94,85,67,...,31,14,3,27,18,47,3.05,3,Rain,188
16,2014-1-17,9,7,5,7,6,4,93,86,68,...,31,13,5,29,19,47,4.06,3,Rain,192
21,2014-1-22,11,8,6,7,6,4,100,87,62,...,31,13,6,23,14,32,0.25,5,Rain,221
22,2014-1-23,8,6,2,6,3,0,100,81,50,...,31,14,5,26,13,45,1.02,2,Rain,265
24,2014-1-25,12,9,5,8,6,0,100,83,48,...,31,10,2,40,13,61,2.03,4,Fog-Rain,249
25,2014-1-26,9,6,2,8,3,0,93,80,62,...,31,14,3,37,19,39,5.08,4,Rain,232
26,2014-1-27,8,5,2,4,2,-1,87,80,61,...,31,16,9,34,23,47,2.03,3,Rain,228
30,2014-1-31,9,5,1,8,4,1,100,90,72,...,23,7,0,37,13,50,7.11,5,Fog-Rain,173
31,2014-2-1,9,7,5,9,3,0,100,73,46,...,31,13,3,50,24,71,0.00,2,Rain,220
32,2014-2-2,10,8,5,4,3,1,93,71,43,...,31,16,10,37,24,47,0.00,2,,216
34,2014-2-4,9,7,4,4,3,1,87,76,50,...,31,14,6,39,21,53,0.51,4,Rain,176
35,2014-2-5,10,8,5,7,4,2,93,75,56,...,26,13,6,45,34,66,2.03,4,Rain,192
36,2014-2-6,10,8,6,9,6,3,100,82,62,...,29,12,2,35,26,40,7.11,4,Rain,190
37,2014-2-7,9,7,4,9,4,0,100,78,46,...,31,12,3,39,19,58,0.51,4,Rain,230
38,2014-2-8,9,8,7,8,4,0,93,74,50,...,31,14,3,45,32,69,2.03,3,Rain,208
39,2014-2-9,8,7,4,3,1,-2,81,65,42,...,31,14,10,47,34,66,0.00,3,Rain,228
41,2014-2-11,8,5,2,6,2,-1,93,75,43,...,31,14,6,40,19,58,2.03,3,Rain,222
42,2014-2-12,9,6,2,6,2,-1,93,74,49,...,31,14,5,52,26,76,7.87,3,Rain-Thunderstorm,211
43,2014-2-13,8,6,3,2,1,-1,81,66,45,...,31,15,10,42,27,48,0.00,2,,236
44,2014-2-14,12,8,3,10,4,0,94,81,60,...,31,14,5,63,24,90,8.89,5,Rain,180
45,2014-2-15,11,8,5,5,3,2,87,67,51,...,31,15,9,66,47,85,0.51,4,Rain,237
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,2014-10-9,18,14,11,11,10,8,88,77,48,...,31,15,3,39,21,53,2.03,2,Rain-Thunderstorm,209
282,2014-10-10,18,13,9,12,10,8,94,80,45,...,31,17,10,26,14,42,3.05,2,Rain,207
284,2014-10-12,14,10,6,11,8,5,100,84,57,...,31,14,6,23,6,37,2.03,2,Fog-Rain,53
288,2014-10-16,18,14,11,14,12,11,100,87,58,...,31,12,6,21,10,34,0.25,2,Rain,214
289,2014-10-17,19,16,13,15,14,12,100,84,62,...,29,14,8,24,13,42,0.51,2,Rain,188
291,2014-10-19,21,17,14,16,13,11,94,78,48,...,31,14,5,34,21,47,0.00,3,Rain,225
293,2014-10-21,14,11,8,13,6,1,94,65,37,...,31,14,3,47,27,69,3.05,3,Rain,268
298,2014-10-26,16,13,12,9,8,7,77,67,45,...,31,12,10,27,18,40,0.00,5,,217
299,2014-10-27,18,16,12,13,12,9,94,80,55,...,31,14,8,29,16,40,0.00,3,,192
300,2014-10-28,18,14,9,14,12,9,100,83,47,...,31,13,0,24,11,37,0.00,3,Fog-Rain,181
303,2014-10-31,23,17,12,15,13,11,100,78,40,...,31,13,3,23,8,48,0.00,1,,170
304,2014-11-1,18,16,13,15,11,6,94,74,39,...,29,13,9,32,18,48,0.25,3,Rain,211
305,2014-11-2,16,13,10,13,11,8,94,82,64,...,29,14,0,27,23,50,11.94,4,Rain,207
306,2014-11-3,10,8,6,9,7,4,94,84,60,...,31,14,2,23,14,34,5.08,3,Rain,208
310,2014-11-7,13,10,8,12,8,5,95,80,52,...,31,11,2,42,23,42,5.08,4,Rain,207
311,2014-11-8,14,11,7,11,8,5,94,84,64,...,31,14,5,34,18,52,2.03,3,Rain,192
312,2014-11-9,13,10,6,9,7,4,100,83,47,...,31,11,0,14,6,32,0.00,2,Fog,212
336,2014-12-3,8,6,4,5,3,1,93,78,56,...,31,15,9,23,16,37,0.51,4,Rain,17
342,2014-12-9,12,6,-1,11,3,-1,100,86,64,...,31,15,3,37,14,52,0.25,5,Rain,224
345,2014-12-12,9,6,2,9,4,-1,94,79,59,...,31,11,3,40,26,55,1.02,3,Rain,253
347,2014-12-14,10,4,-1,9,3,-1,100,84,62,...,31,16,9,29,14,45,0.25,3,Rain,215
350,2014-12-17,13,9,4,11,10,6,100,90,76,...,31,12,6,34,21,55,0.25,5,Rain,252
351,2014-12-18,13,12,11,11,11,10,94,85,74,...,31,12,10,37,29,60,0.00,6,,245
353,2014-12-20,9,7,4,4,3,2,87,75,53,...,31,15,10,32,19,45,0.00,3,Rain,251
354,2014-12-21,12,8,3,9,6,3,93,80,65,...,31,12,10,35,23,47,0.00,6,Rain,237
355,2014-12-22,13,12,10,11,9,7,94,77,63,...,31,14,8,40,32,55,0.00,5,Rain,240
356,2014-12-23,13,11,10,9,7,5,82,72,58,...,31,12,10,42,32,61,0.00,4,Rain,238
357,2014-12-24,12,8,4,10,4,-2,94,71,38,...,31,13,10,34,26,45,0.25,5,Rain,262
360,2014-12-27,4,3,2,8,1,-1,93,83,64,...,31,13,9,42,26,61,0.00,4,Rain,330
364,2014-12-31,8,2,-4,5,2,-4,100,89,70,...,19,9,0,23,8,37,0.25,4,Fog,201

Note that the table above has fewer than 251 of the original 365 rows, so there must be further null values besides the 114 missing events.

### Changing the value type of a column

The type of every column in a dataframe can be determined by looking at the dataframe's `dtypes` attribute, like this:

In [111]:
london.dtypes

GMT                            object
Max TemperatureC                int64
Mean TemperatureC               int64
Min TemperatureC                int64
Dew PointC                      int64
MeanDew PointC                  int64
Min DewpointC                   int64
Max Humidity                    int64
Mean Humidity                   int64
Min Humidity                    int64
Max Sea Level PressurehPa       int64
Mean Sea Level PressurehPa      int64
Min Sea Level PressurehPa       int64
Max VisibilityKm                int64
Mean VisibilityKm               int64
Min VisibilitykM                int64
Max Wind SpeedKm/h              int64
Mean Wind SpeedKm/h             int64
Max Gust SpeedKm/h            float64
Precipitationmm               float64
CloudCover                    float64
Events                         object
WindDirDegrees                 object
dtype: object

The type of all the values in a column can be changed using the <code>astype()</code> method. The following code will change the values in the <code>'WindDirDegrees'</code> column from strings (`object`) to integers (<code>int64</code>).

In [112]:
london['WindDirDegrees'] = london['WindDirDegrees'].astype('int64')

The function `to_datetime()` is needed to change the values in the `'GMT'` column from strings (`object`) to dates (`datetime64`):

In [113]:
london['GMT'] = to_datetime(london['GMT'])
london.dtypes

GMT                           datetime64[ns]
Max TemperatureC                       int64
Mean TemperatureC                      int64
Min TemperatureC                       int64
Dew PointC                             int64
MeanDew PointC                         int64
Min DewpointC                          int64
Max Humidity                           int64
Mean Humidity                          int64
Min Humidity                           int64
Max Sea Level PressurehPa              int64
Mean Sea Level PressurehPa             int64
Min Sea Level PressurehPa              int64
Max VisibilityKm                       int64
Mean VisibilityKm                      int64
Min VisibilitykM                       int64
Max Wind SpeedKm/h                     int64
Mean Wind SpeedKm/h                    int64
Max Gust SpeedKm/h                   float64
Precipitationmm                      float64
CloudCover                           float64
Events                                object
WindDirDegrees                         int64
dtype: object

Values of type `datetime64` can be created using the `datetime()` function where the first integer argument is the year, the second the month and the third the day. 
The code below will get and display the row in the dataframe whose `'GMT'` value is 4th June 2014.

In [114]:
london[london['GMT'] == datetime(2014, 6, 4)]

,GMT,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
154,2014-06-04,14,11,8,11,9,3,94,78,47,...,31,12,7,47,13,64,2.03,4,Rain-Thunderstorm,230

Queries such as 'Return all the rows where the date is between 8 December and 12 December' can be made:

In [115]:
dates = london['GMT']
start = datetime(2014, 12, 8)
end = datetime(2014, 12, 12)
london[(dates >= start) & (dates <= end)]

,GMT,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
341,2014-12-08,7,4,1,2,1,-1,93,76,51,...,31,17,10,23,13,NaN,0.00,2,Rain,270
342,2014-12-09,12,6,-1,11,3,-1,100,86,64,...,31,15,3,37,14,52,0.25,5,Rain,224
343,2014-12-10,9,7,6,11,3,1,90,70,44,...,31,18,3,40,27,NaN,0.00,2,Rain,246
344,2014-12-11,10,8,5,6,3,2,82,72,51,...,31,15,10,40,31,NaN,0.25,2,Rain,246
345,2014-12-12,9,6,2,9,4,-1,94,79,59,...,31,11,3,40,26,55,1.02,3,Rain,253

### Tasks

Now that the wind direction is given by a number, write code to select all days that had a northerly wind. Hint: select the rows where the direction is greater or equal than 350 **or** smaller or equal than 10, as the compass rose shows.

In [116]:
london[(london['WindDirDegrees'] >= 350) | (london['WindDirDegrees'] <= 10)]

,GMT,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
84,2014-03-26,9,6,2,4,2,-1,100,80,39,...,27,10,1,26,10,NaN,2.03,4,Fog-Rain,3
90,2014-04-01,19,13,7,11,9,6,100,80,39,...,19,7,0,16,5,NaN,0.00,4,Fog-Rain,6
100,2014-04-11,16,12,9,5,4,2,71,53,28,...,31,18,10,13,8,NaN,0.00,1,,351
110,2014-04-21,19,12,5,11,8,4,100,78,31,...,26,7,0,14,6,NaN,9.91,3,Fog-Rain-Thunderstorm,356
174,2014-06-24,24,19,13,15,12,9,94,66,27,...,31,12,0,23,8,37,0.00,3,Fog,350
179,2014-06-29,19,16,12,11,9,5,88,65,31,...,31,16,10,19,10,NaN,0.00,2,Rain,9
190,2014-07-10,22,18,14,13,11,9,82,64,44,...,31,19,10,16,14,NaN,0.00,3,,1
208,2014-07-28,23,19,14,16,12,9,94,66,33,...,26,12,2,21,10,NaN,17.02,2,Rain-Thunderstorm,3
249,2014-09-07,21,17,13,14,12,8,94,71,41,...,23,10,2,11,6,NaN,0.00,4,,354
250,2014-09-08,22,16,10,13,9,7,94,64,28,...,27,12,5,11,6,NaN,0.00,1,,351
335,2014-12-02,8,7,6,7,4,2,100,80,62,...,31,11,1,27,13,NaN,1.02,5,Rain,359
361,2014-12-28,6,2,-2,1,-2,-3,100,76,45,...,31,17,8,16,11,NaN,0.00,1,,5

In the code cell below, write code to get and display all the rows in the dataframe that are beween 1 April 2014 and 
11 April 2014.

In [117]:
london

,GMT,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,2014-01-01,11,8,6,9,7,4,94,86,73,...,31,11,2,40,26,66,9.91,4,Rain,186
1,2014-01-02,11,9,6,9,6,4,94,81,60,...,31,15,5,32,21,50,1.02,2,Rain,214
2,2014-01-03,11,8,6,9,5,2,94,76,54,...,31,12,0,50,29,69,7.11,2,Rain-Thunderstorm,219
3,2014-01-04,9,6,3,8,6,2,93,85,65,...,31,12,5,35,21,39,9.91,4,Rain,211
4,2014-01-05,12,7,1,11,4,-1,100,88,77,...,31,14,5,35,16,NaN,0.25,5,Rain,199
5,2014-01-06,12,10,8,11,8,6,94,78,60,...,31,12,5,50,29,61,2.03,4,Rain,219
6,2014-01-07,12,10,8,8,7,6,87,78,63,...,31,13,5,39,27,55,5.08,3,Rain,219
7,2014-01-08,12,9,7,11,7,6,94,85,69,...,27,14,6,24,18,37,1.02,3,Rain,197
8,2014-01-09,11,8,5,11,5,2,94,76,53,...,31,13,5,40,26,60,0.00,4,Rain,247
9,2014-01-10,11,7,2,7,4,2,93,85,66,...,31,17,10,24,13,32,0.25,3,Rain,216
10,2014-01-11,9,4,0,7,3,-1,100,80,51,...,31,12,6,24,14,NaN,0.00,4,Rain,259
11,2014-01-12,10,4,-2,9,3,-2,100,91,79,...,31,9,1,32,10,NaN,0.51,6,Fog-Rain,126
12,2014-01-13,9,7,5,8,4,3,93,85,71,...,31,16,5,34,19,NaN,5.08,2,Rain,205
13,2014-01-14,7,4,1,5,2,0,100,82,55,...,31,15,10,21,13,NaN,0.25,3,Rain,242
14,2014-01-15,11,8,5,10,8,5,100,91,83,...,31,12,5,26,18,NaN,1.02,5,Rain,195
15,2014-01-16,11,8,6,9,6,4,94,85,67,...,31,14,3,27,18,47,3.05,3,Rain,188
16,2014-01-17,9,7,5,7,6,4,93,86,68,...,31,13,5,29,19,47,4.06,3,Rain,192
17,2014-01-18,11,8,6,8,6,5,100,84,71,...,31,14,3,32,14,NaN,0.51,4,Rain,141
18,2014-01-19,8,6,2,7,4,1,93,79,53,...,31,15,10,19,13,NaN,0.00,3,Rain,203
19,2014-01-20,9,4,1,5,3,0,100,86,60,...,21,10,2,8,3,NaN,0.25,2,Fog,342
20,2014-01-21,8,4,1,5,3,1,100,88,66,...,31,9,0,26,8,NaN,0.25,4,Fog-Rain,162
21,2014-01-22,11,8,6,7,6,4,100,87,62,...,31,13,6,23,14,32,0.25,5,Rain,221
22,2014-01-23,8,6,2,6,3,0,100,81,50,...,31,14,5,26,13,45,1.02,2,Rain,265
23,2014-01-24,8,4,2,6,3,1,93,85,71,...,31,15,6,19,11,NaN,5.08,6,Rain,164
24,2014-01-25,12,9,5,8,6,0,100,83,48,...,31,10,2,40,13,61,2.03,4,Fog-Rain,249
25,2014-01-26,9,6,2,8,3,0,93,80,62,...,31,14,3,37,19,39,5.08,4,Rain,232
26,2014-01-27,8,5,2,4,2,-1,87,80,61,...,31,16,9,34,23,47,2.03,3,Rain,228
27,2014-01-28,10,7,4,5,4,3,93,82,60,...,31,15,6,29,18,NaN,0.25,3,Rain,176
28,2014-01-29,5,4,3,4,3,2,93,90,85,...,31,10,3,24,14,NaN,13.97,6,Rain,91
29,2014-01-30,6,4,3,4,3,2,100,89,76,...,27,7,3,16,10,NaN,0.00,6,Rain,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,2014-12-02,8,7,6,7,4,2,100,80,62,...,31,11,1,27,13,NaN,1.02,5,Rain,359
336,2014-12-03,8,6,4,5,3,1,93,78,56,...,31,15,9,23,16,37,0.51,4,Rain,17
337,2014-12-04,5,4,3,4,3,0,100,87,61,...,16,8,2,23,10,NaN,4.06,6,Rain,52
338,2014-12-05,7,4,2,4,3,0,100,87,72,...,31,10,5,14,6,NaN,0.00,4,Rain,293
339,2014-12-06,6,2,-1,3,1,-1,100,85,60,...,31,15,10,14,8,NaN,0.25,4,,265
340,2014-12-07,11,7,2,8,4,-1,93,79,47,...,31,14,10,35,16,NaN,0.51,3,Rain,246
341,2014-12-08,7,4,1,2,1,-1,93,76,51,...,31,17,10,23,13,NaN,0.00,2,Rain,270
342,2014-12-09,12,6,-1,11,3,-1,100,86,64,...,31,15,3,37,14,52,0.25,5,Rain,224
343,2014-12-10,9,7,6,11,3,1,90,70,44,...,31,18,3,40,27,NaN,0.00,2,Rain,246
344,2014-12-11,10,8,5,6,3,2,82,72,51,...,31,15,10,40,31,NaN,0.25,2,Rain,246
345,2014-12-12,9,6,2,9,4,-1,94,79,59,...,31,11,3,40,26,55,1.02,3,Rain,253
346,2014-12-13,7,3,0,2,1,-1,100,83,53,...,31,19,9,13,8,NaN,0.00,2,,278
347,2014-12-14,10,4,-1,9,3,-1,100,84,62,...,31,16,9,29,14,45,0.25,3,Rain,215
348,2014-12-15,10,7,4,8,5,3,100,85,67,...,31,16,6,26,16,NaN,0.00,2,Rain,260
349,2014-12-16,8,4,0,6,3,1,100,90,65,...,31,11,0,21,10,NaN,3.05,4,Fog-Rain,253
350,2014-12-17,13,9,4,11,10,6,100,90,76,...,31,12,6,34,21,55,0.25,5,Rain,252
351,2014-12-18,13,12,11,11,11,10,94,85,74,...,31,12,10,37,29,60,0.00,6,,245
352,2014-12-19,12,9,5,11,6,2,94,75,46,...,31,15,5,35,26,NaN,0.51,4,Rain,256
353,2014-12-20,9,7,4,4,3,2,87,75,53,...,31,15,10,32,19,45,0.00,3,Rain,251
354,2014-12-21,12,8,3,9,6,3,93,80,65,...,31,12,10,35,23,47,0.00,6,Rain,237
355,2014-12-22,13,12,10,11,9,7,94,77,63,...,31,14,8,40,32,55,0.00,5,Rain,240
356,2014-12-23,13,11,10,9,7,5,82,72,58,...,31,12,10,42,32,61,0.00,4,Rain,238
357,2014-12-24,12,8,4,10,4,-2,94,71,38,...,31,13,10,34,26,45,0.25,5,Rain,262
358,2014-12-25,8,6,2,3,2,1,93,79,51,...,31,19,10,24,16,NaN,0.00,1,,275
359,2014-12-26,9,4,-1,8,2,-1,100,91,76,...,31,13,3,29,10,NaN,4.06,5,Rain,201
360,2014-12-27,4,3,2,8,1,-1,93,83,64,...,31,13,9,42,26,61,0.00,4,Rain,330
361,2014-12-28,6,2,-2,1,-2,-3,100,76,45,...,31,17,8,16,11,NaN,0.00,1,,5
362,2014-12-29,6,1,-4,2,-1,-4,100,87,62,...,24,10,5,13,8,NaN,0.25,1,,289
363,2014-12-30,6,1,-4,2,-1,-4,100,90,68,...,27,9,3,14,6,NaN,0.25,3,,258
364,2014-12-31,8,2,-4,5,2,-4,100,89,70,...,19,9,0,23,8,37,0.25,4,Fog,201

In [118]:
london[(london['GMT'] >= datetime(2014,4,1)) & (london['GMT'] <= datetime(2014,4,11))]

,GMT,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
90,2014-04-01,19,13,7,11,9,6,100,80,39,...,19,7,0,16,5,NaN,0.00,4,Fog-Rain,6
91,2014-04-02,18,14,11,11,9,7,88,71,48,...,10,8,5,23,13,NaN,0.00,1,Rain,85
92,2014-04-03,18,14,11,11,9,9,88,75,52,...,21,7,3,26,11,NaN,0.00,5,,96
93,2014-04-04,15,12,9,10,8,6,88,71,46,...,31,11,2,24,14,NaN,0.00,5,,253
94,2014-04-05,14,10,6,11,8,5,100,83,56,...,31,12,1,26,13,50,0.00,5,Fog-Rain,197
95,2014-04-06,16,14,12,12,12,11,94,88,67,...,31,12,5,35,21,48,2.03,6,Rain,213
96,2014-04-07,14,11,8,12,11,6,94,87,76,...,31,14,5,29,23,42,2.03,5,Rain,209
97,2014-04-08,14,9,5,6,3,-1,87,64,26,...,31,15,10,39,23,NaN,0.00,2,Rain,269
98,2014-04-09,17,10,4,7,6,3,93,68,38,...,31,14,6,23,13,NaN,0.00,2,,261
99,2014-04-10,16,11,6,6,5,3,93,62,31,...,31,14,9,19,10,NaN,0.00,3,,278
100,2014-04-11,16,12,9,5,4,2,71,53,28,...,31,18,10,13,8,NaN,0.00,1,,351

In the cell below, write two lines of code to display the first five rows that have a missing value in the `'Max Gust SpeedKm/h'` column. Hint: first select the missing value rows and store them in a new dataframe, then display the first five rows of the new dataframe.

In [121]:
missingGustRows = london['Max Gust SpeedKm/h'].isnull()
london[].head(5)

# london1 = london[london['Max Gust SpeedKm/h'].isnull()] 
# london1.head(5)

#missing = london['Max Gust SpeedKm/h'].isnull() 
#london[missing].head()

#maxGust = london[london['Max Gust SpeedKm/h'].isnull()]
#maxGust.head()

,GMT,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
4,2014-01-05,12,7,1,11,4,-1,100,88,77,...,31,14,5,35,16,NaN,0.25,5,Rain,199
10,2014-01-11,9,4,0,7,3,-1,100,80,51,...,31,12,6,24,14,NaN,0.00,4,Rain,259
11,2014-01-12,10,4,-2,9,3,-2,100,91,79,...,31,9,1,32,10,NaN,0.51,6,Fog-Rain,126
12,2014-01-13,9,7,5,8,4,3,93,85,71,...,31,16,5,34,19,NaN,5.08,2,Rain,205
13,2014-01-14,7,4,1,5,2,0,100,82,55,...,31,15,10,21,13,NaN,0.25,3,Rain,242

**Now go back to the Exercise 4 step in FutureLearn to discuss and mark it complete.**

## Exercise 5: Every picture tells a story

The following line of code tells Jupyter to display inside this notebook any graph that is created.

In [120]:
%matplotlib inline

ImportError: No module named matplotlib

The `plot()` method can make a graph of the values in a column. Gridlines are turned on by the `grid` argument.

In [ ]:
london['Max Wind SpeedKm/h'].plot(grid=True)

The graph can be made bigger by giving the method a `figsize=(x,y)` argument where `x` and `y` are integers that determine the length of the x-axis and y-axis.

In [ ]:
london['Max Wind SpeedKm/h'].plot(grid=True, figsize=(10,5))

Multiple lines can be plotted by selecting multiple columns.

In [ ]:
london[['Max Wind SpeedKm/h', 'Mean Wind SpeedKm/h']].plot(grid=True, figsize=(10,5))

### Task

In the cell below, write code to plot the minimum, mean, and maximum temperature during 2014 in London.

**Now go back to the Exercise 5 step in FutureLearn to discuss and mark it complete.**

##Exercise 6: Changing a dataframe's index
Changing the dataframe's index from the default to `datetime64` values is done by assigning to the dataframe's `index` attribute the contents of the `'GMT`' column, like this:

In [ ]:
london.index = london['GMT']
london.head(2)

The `irow()` method can still be used to get and display rows, but now you can now also use the `datetime64` index to get a row using the dataframe's `ix` (index) property, like this:

In [ ]:
london.ix[datetime(2014, 1, 1)]

A query such as *'Return all the rows where the date is between December 8th and December 12th'* can now be done  succinctly like this:

In [ ]:
london.ix[datetime(2014,12,8) : datetime(2014,12,12)]

#The meaning of the above code is get the rows beween and including 
#the indices datetime(2014,12,8) and datetime(2014,12,12)

Now we have a `datetime64` index, let's plot `'Max Wind SpeedKm/h'` again:

In [ ]:
london['Max Wind SpeedKm/h'].plot(grid=True, figsize=(10,5))

Now it is much clearer that the worst winds were in mid February.

###Task
Use the code cell below to plot the values of `'Mean Humidity'` during spring (full months of March, April and May).

**Now go back to the Exercise 6 step in FutureLearn to discuss and mark it complete.**